.ItemDetailMain{
    width: 60%;
    margin: 10%;
    height: 500px;
    border: 1px solid blueviolet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.Descripcion{
    color: blueviolet;
    font-size: 16px;
    font-weight: 300;
}

.Precio{
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;
}